* {box-sizing: border-box;}

html {
    color: white; /*font*/
    text-shadow: 1px 1px rgb(0, 0, 0);
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
body {
    background: url(../Estilos/pattern_chess.png) ;
}
header {
    background-color: rgb(100, 100, 100);
    border: rgb(0, 0, 0) solid;
    margin: 1% 0% 1.5% 0%; /*top-right-bottom-left*/
    text-align: center;
    font-size: 1.5em;
    font-family: 'Limelight', cursive; 
}
h1 {
    width: 100%;
    border:rgb(0, 0, 0) solid; 
    background-color: rgba(51, 51, 51, 0.911);	
	font-family: 'Limelight', cursive; 
	text-align: center;
    border-radius: 5%;
    text-shadow: 1px 1px rgb(168, 21, 21);
    color: rgb(255, 255, 255); /* cor da fonte*/
    font-size: 1.2em;
}
h2, h3 {
    font-size: 1em;
    color: white;
    font-family: 'Limelight', cursive;
    text-shadow: 1px 1px rgb(168, 21, 21);
    text-decoration: underline;
}
nav {
    margin-bottom: .5%;
    width: 100%;  
    padding-bottom: 1%;
    border:  rgb(0, 0, 0)  solid; 
    background-color: rgba(85, 85, 85, 0.911);
    border-radius: 1%;
    overflow:hidden ;
}
  .navbar a {
    margin: .4%; /*top-right-bottom-left*/
    border: 1px solid;
    background-color: rgba(65, 45, 45, 0.849);
	font-size: 1rem;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: .5%;
	text-decoration: none; 
  }
a:hover {
    text-decoration: underline;
    filter: invert(100%);
} 
nav ul {
    list-style-type: none; 
    padding: .5;
}
article {
    text-align: center;
    margin: 1%; /*top-right-bottom-left*/
    padding: .5%; 
    border:rgb(0, 0, 0) solid; 
    background-color: rgba(65, 45, 45, 0.849);
    border-radius: 1%;
}
#Foto {
    border-radius: 45%;
    filter:drop-shadow(8px 8px 10px rgb(39, 18, 18));
}
footer {
    margin: 1% 1% 1% 1%; /*top-right-bottom-left*/
    border:rgb(0, 0, 0) solid; 
    background-color: rgba(48, 48, 48, 0.911);
    text-align: center;
    font-family: 'Limelight', cursive;
    font-size: 1rem;
    text-shadow: 1px 1px rgb(168, 21, 21);
    color: rgb(255, 255, 255); /* cor da fonte*/
}
img {
    background-color: rgb(212, 212, 212);
    margin: auto;
    padding: auto;
    border-radius: 10%;
    border: rgb(0, 0, 0) solid;
}
.confia {
    border-radius: 50%;
}


/*Tabelas*/
h4 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
	margin: .5%;
    padding: .5%;
	background-color: rgb(61, 61, 61);
	border: solid rgba(0, 0, 0, 90%);
}
table { 
	margin: 0%; /*top-right-bottom-left*/
	padding: 1%;
	border: .3em solid;	
	background: rgb(187, 187, 187);	
	width: 100%; 
	border-collapse: collapse;
    font-family: Arial;
}
td:hover  {
    background-color: rgb(0, 0, 0);
    filter: invert(100%);
}

table th, table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: left;
	vertical-align: top;
	border: 1px solid;
}
table tr td:first-child {
	text-align: left;
	font-weight: bold;
}
table th { 
	background-color: rgba(94, 94, 255, 0.897);
	color: rgba(255, 255, 255, 1.0);
	font-weight: bold;
	font-size: 1.8rem;
	text-align: left;
	text-shadow: 2px 2px rgba(0, 0, 0, 1.0);
}
.estimada {
	background: rgba(94, 94, 94, 0.5);
}
.table-container {
	padding: 2rem 1rem;
}
.table-container h3 { 
	font-size: 1.8rem; 
	font-style: normal;
	margin-bottom: 1rem;
}
.table-container tfoot {
	background: rgb(48, 100, 41);
}
.table-container tfoot td {
	font-weight: bold;
}
/*Tabelas*/

/*Formularios*/

label {
    margin: 0% 0% 1% 0%; /*top-right-bottom-left*/
    font-size: 130%;
    text-decoration: underline;

}

form {
	margin: 1% 0% 0% 0%;
}
.not_option {
    font-size: 1rem;
    width: 50%;
    height: 20%;
    margin: 1%;
}

textarea {
    font-size: 1.2rem;
    border: black solid;
	height: 1%;
	width: 70%;
	max-width: 100%;
	margin: 1% 0% 1.5% 0%;
	padding: 1%;
}

.formulario {
	border: black solid;
	text-align: left;
	margin: 1%; /*top-right-bottom-left*/
	padding: 1%;
	height: 100%;
	width: 98%;
	background-color: rgb(53, 53, 53);
}
 select{
    margin: 1%;
 }
.not_option {
    text-align: center;
}
 /*Formularios*/
 
 /*Layouts*/

 #quadrado {
     float: left;
    background-color: rgb(44, 44, 44);
    border-style: solid;
    border-color: rgb(88, 93, 114);
    border-width: 3%;
    margin: .5%;
    width: 15rem;
    height: 15rem;
    /*filter: grayscale(100%) invert(100%);*/
 }

 #grafico_02 { /*triangulo*/
    
    background-color: rgb(44, 43, 43);
    border-radius: 2%;
    margin: 40px auto;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: #1d1d3a #442222 #4b2020 rgb(53, 53, 53);
    width: 200px;
}

.colunas {
    border: 1px rgb(253, 253, 243)  solid;
    display: inline;
    width: 33.3%;
    height: 25rem;
    float: left;
    background-color: black;
    padding: .5%;
    
}
#coluna1 { 
    font-size: 1.1rem;
    background-color: rgb(253, 230, 203);
    border: #300a0a 2px solid;
    color: rgb(180, 179, 179)

}
#quadrado1 { /*top-right-bottom-left*/
    margin-left: 5%;
    height: 90%;
    width: 90%;
    background-color: rgb(37, 37, 37);
    border: 10px rgb(26, 26, 26) solid;
}
#quadrado2 {
    margin: 15% 27% 0% 0%;
    float: right;
    height: 50%;
    width: 50%;
    background-color: rgb(88, 88, 88);
    border: 5px rgb(53, 53, 53) solid;
}
#quadrado3 {
    margin: 18% 0% 0% 36%;
    float: left;
    height: 30%;
    width: 30%;
    background-color: rgb(177, 177, 177);
    border: 3px rgb(138, 138, 138) solid;
}

#coluna3 {
    overflow: scroll;
    
}



.cafe {
    filter:grayscale(60%)  drop-shadow(8px 8px 10px rgb(0, 0, 0));
}
/*Layouts*/

/*Mobile*/
@media (max-width: 915px){

    html {
        filter: grayscale(20%) invert(100);
    }
     
    #Foto {
        filter: invert(100);
    }

    .confia {
        filter: invert(100);
    }

    .patrocinio {
        filter: invert(100);
    }

    .cafe {
        
        filter: invert(100);
    }

    .matrix_img {
        filter: invert(100);
    }

    .table-container {
        max-width: 90%;
        max-height: 90%;
    }

    table {
        
        max-width: 90%;
        max-height: 90%; 
        filter: invert(100);
    }

    img {
        max-width: 90%;
        max-height: 90%;
    }

    .colunas {
        columns: 150px 3;
    }

    #coluna1 {
        filter: invert(100);
    }

}
@media (max-width: unset){

    nav {
        width: 30vw;
    }

    article {
        width: 70vw;
    }

    .coluna {
        width: 50vw;
        min-width: unset;
    }

}
/*Mobile*/
