$align: left;
$bg-color: rgb(255, 255, 255);
$color-01: rgb(139, 139, 139);
$color-02: rgb(164, 223, 250);
$color-03: rgb(26, 38, 102);
$color-04: #222;
$color-05: rgb(172, 245, 150);
$color-06: rgb(28, 94, 44);
$color-default: #444;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;