* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

div,
p {
  display: block;
}

header,
section {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* #predio3 {
  bottom: 0;
  position: relative;
  left: 0;
  right: 0;
  animation: vaivolta 2s infinite alternate;
}

@keyframes vaivolta {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: 100px;}
    50%  {top: 0px; left: 0px;}
    75%  {top: 0px; left: 100px;}
    100%  {top: 0px; left: 0px;}
} */

section {
  padding: 0;
}

.container {
  max-width: 100%;
  background-color: rgb(221, 205, 185);
  /* border-top: solid brown 1px; */
}

img {
  
  border-left: solid;
  border-bottom: solid;
  border-color: rgb(167, 205, 255);
  border-radius: 5%;
  width: 30%;
  height: auto;
  box-shadow: 0px 0px 2px .3px black;
  margin:1% ; 
}

img:hover, a:hover {
  box-shadow: 0px 0px 5px 1px rgb(106, 9, 151);
  
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
}

h1 {
  color: rgb(0, 103, 110);
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  padding: 1%;
  background-color: rgb(196, 238, 255);
  border-bottom: solid 2px rgb(0, 199, 199);
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  
}

h3 {
  color: rgb(192, 192, 192);
  font-size: 1.5rem;
}

header {
  background-color: rgb(255, 229, 205);
}



.blocks {
  padding: 3rem 0;
}
.blocks h2 {
  color: rgb(0, 0, 26);
}
.blocks ul {
  list-style-type: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 1rem 0;
  width: 100%;
}
.blocks li {
  color: rgb(164, 223, 250);
  display: block;
  margin: 1.5rem auto;
  width: 30%;
}
.blocks li .img-container {
  display: block;
  height: 200px;
  overflow: hidden;
  width: 100%;
}
.blocks li a {
  background-color: rgb(54, 65, 219);
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 2.2rem;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  
}

.periferico h2 {
  color: rgb(55, 84, 177);
}
.periferico li {
  color: rgb(55, 84, 177);
}
.periferico li a {
  background-color: rgb(55, 84, 177);
}

.destack {
  background-color: rgb(51, 171, 226);
  padding: 1.5rem;
}
.destack h1 {
  color: rgb(27, 39, 44);
  float: left;
  font-size: 3rem;
  margin-top: 0;
}
.destack h2 {
  color: rgb(255, 217, 0);
  float: left;
  font-size: 1.6rem;
  font-weight: 800;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  font-style: italic;
}
.destack img {
  width: 50%;
  height: auto;
  margin: 1.5rem auto;
}
.destack p {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  padding: 2rem 0;
  width: 100%;
}

/* .nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
}

.nav-item {
  margin: 0% 1% 0% 0.1%;
} 

#primerIcon {
  margin-right: -.5%;
} */

/* footer style */

footer {
  background-color: antiquewhite;
  border-top: solid rgb(150, 133, 107) 2px;
  font-size: 2em;
  font-style: italic;
  text-align: center;
  padding: 1%;
}

footer p {
  text-align: center;
}

footer ul {
  padding: 0px;
  margin: 0px;
}
footer ul li {
  list-style: none;
  display: inline-block;
}
footer .footer-menu {
  margin-bottom: 40px;
}
.footer .footer-menu ul li {
  margin: 0px 15px;
}
.footer .footer-menu a {
  font-size: 13px;
  color: #7a7a7a;
  text-transform: uppercase;
  transition: all 0.5s;
}
.footer .footer-menu a:hover {
  color: #3a8bcd;
  text-decoration: none;
}

.footerLink a:hover {
  background-color: #286292;
}

footer li {
  text-decoration: underline;
  margin: 0% 1% 0% 0%;
}

/* modal */

.form-control {
  padding: 1rem;
  font-size: 1em;
}

.modal-title {
  font-size: 1em;
}

.btn {
  padding: 1rem ;
  font-size: 1em;
}


/*# sourceMappingURL=styles.css.map */
