$align: left;
$bg-color: rgb(255, 255, 255);
$color-01: rgb(192, 192, 192);
$color-02: rgb(164, 223, 250);
$color-03: rgb(69, 120, 143);
$color-04: rgb(55, 84, 177);
$color-05: #222;
$color-06: rgb(172, 245, 150);
$color-07: rgb(28, 94, 44);
$color-default: rgb(0, 0, 0);
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;