html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 1%;
    padding-left: 1%;
}

h1 {
    font-size: 2rem;
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
    color: grey;
}

input {
    width: 20rem;
    display: flex;
    margin-top: .2%;
    padding: .1%;
}

button {
    width: 10%;
    margin-top: 1%;
    margin-left: 3.5%;
    padding: .2%;
    border-radius: 5%;
    cursor: pointer;
}

button:hover {
    transition-duration: 0.5s;
    background-color: rgb(59, 59, 114);
    color: rgb(224, 224, 224);
}


#main {
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration: underline;
}

#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
}